/* Assignments.css */
.assignments-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    height: 100vh;
    width: 180vh;
    background-color: #141b2d;;
  }
  
  .due-date {
    margin-left: 50px; /* Adjust the value as needed */
    color: #888;
    font-size: 0.8em;
  }
  
  /* Add this to your CSS file */
.download-button {
    margin-left: 20px; /* Adjust the margin as needed */
    background-color: #1f2941;
    border: 1px solid #ccc;
}

.submit-button {
    margin-left: 20px; /* Adjust the margin as needed */
    background-color: #1f2941; /* Green color, you can customize */
    color: #fff; /* White text color, you can customize */
    border: 1px solid #ccc;
    padding: 4px 8px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #218838; /* Darker green on hover, you can customize */
}

.assignment-section{
  color: #ccc;
}