.todo-list-button {
    position: fixed;
    bottom: 30px;
    left: 250px;
    padding: 20px;
    background-color: #1f2941;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
  }

  .monthButton {
    background-color: #1f2941;
    color: #ccc;
    border: 1px solid #ccc;
  }

  .calendar-title{
    color: #ccc;
  }

  .month{
    color: #ccc;
  }