/* DirectionsPopup.css */
.directions-popup {
    position: fixed;
    top: 10px; /* Adjust the top position as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
  }
  
  .directions-popup.hidden {
    display: none;
  }
  